<div class="medialibrary" data-ng-show="library != null">
    <ul class="block">
        <li class="cell cell-sq coverback" data-ng-repeat="album in library" data-ng-if="inUserFilter(album)" data-ng-cloak>
            <a href="#{{album.slug}}">
                <figure class="nucleus">
                    <img data-imageinview class="photo" data-src="{{album.image}}" alt="" />
                    <figcaption>
                        <h3>{{album.label}}</h3>
                        <div class="back">
                            <div class="slug">{{album.slug}}</div>
                            <div class="resume">{{album.resume}}</div>
                        </div>
                    </figcaption>
                </figure>
            </a>
        </li>
    </ul>
    <ul class="block librarytags" data-ng-if="tags" data-ng-cloak>
        <li data-ng-repeat="tag in tags track by $index"
            class="blink toggle_border buttonlink" 
            data-ng-class="{active : isFilterActive(tag), click:click[tag]}" 
            data-ng-click="toggleFilter(tag)"
            data-ng-mousedown="click[tag] = true" 
            data-ng-mouseup="click[tag] = false">#{{tag}}</li>
    </ul>
</div>